
<ion-view title="Login" hide-back-button="true" style="background: #1b5a83" hide-nav-bar="true">
  <ion-header-bar class="bar-stable">
    <h1 class="title">FriendSwipe</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div style="background: #1b5a83" class="list list-inset">
      <div style="border:none;margin-top:50px;" class="item item-image"><img src="img/sociogram.jpg"></div>
      <button ng-click="facebookLogin()" class="button button-block button-light"><i class="icon ion-social-facebook"></i>&nbsp;Login with Facebook</button>
    </div>
  </ion-content>
</ion-view>