
<ion-view title="Swipe">
  <ion-header-bar align-title="left" class="bar-stable">
    <h1 class="title"><a href="#/menu">FriendSwipe</a></h1>
    <div class="buttons"><a href="#/match" class="button ion-arrow-swap"></a></div>
  </ion-header-bar>
  <ion-content ng-controller="SwipeCtrl" class="padding">
    <div class="container">
      <div class="card friend">
        <div class="item item-divider">Friends Name</div><i style="font-size: 240px" class="ion-person"></i>
      </div>
    </div>
  </ion-content>
</ion-view>