
<ion-view title="Swipe">
  <ion-pane ng-controller="SwipeCtrl">
    <ion-header-bar align-title="left" class="bar-stable">
      <h1 class="title"><a href="#/menu">FriendSwipe</a></h1>
      <div class="buttons"><a href="#/match" class="logo"><img src="assets/logo_background.png"></a></div>
    </ion-header-bar>
    <!--ion-content.padding-->
    <div class="container">
      <td-cards>
        <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" ng-controller="CardCtrl" class="friend card-{{card.index}}">
          <div class="image">
            <!--.yes-text(ng-style='leftTextOpacity') LIKE-->
            <div class="item item-divider">Friends Name</div><i style="font-size: 240px" class="ion-person"></i>
            <!--img(ng-src='{{card.image}}')-->
            <!--.no-text(ng-style='rightTextOpacity') NOPE-->
          </div>
        </td-card>
      </td-cards>
    </div>
    <!--      
    td-cards.container
      td-card.card.friend(ng-repeat='card in cards', on-destroy='cardDestroyed($index)', on-swipe-left='cardSwipedLeft($index)', on-swipe-right='cardSwipedRight($index)', on-partial-swipe='cardPartialSwipe(amt)', class='card-{{card.index}}', ng-controller='CardCtrl')
        .item.item-divider Friends Name
        i.ion-person(style='font-size: 240px')
    -->
    <div class="buttonContainer"><img src="assets/unfollow_btn-01.png" class="unfollow"><img src="assets/reconnect_btn-01.png" class="reconnect"></div>
  </ion-pane>
</ion-view>