/* Empty. Add your own CSS if you like */
.title a{
  text-decoration: none;
}



.container{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.friend{
  text-align:center;
}

.unfollow, .reconnect{
  max-width: 120px;
  height: auto;
}

.logo img{
  max-height: 35px;
  width: auto;
}

.unfollow{
  float: left;
  margin-left: 25px;
}

.reconnect{
  float: right;
  margin-right: 25px;
}
