ion-view(title='Swipe')
  ion-header-bar.bar-stable
    h1.title FriendSwipe
  ion-content(ng-controller='SwipeCtrl').padding
    h1 This is the match page
    a(href='#/menu') menu
    br
    a(href='#/swipe') swipe
