ion-view(title='Swipe')
  ion-header-bar(align-title='left').bar-stable
    h1.title: a(href='#/menu') FriendSwipe
    .buttons
      a.logo(href='#/swipe'): img(src='assets/logo.png')
  ion-content(ng-controller='SwipeCtrl').padding
    h1 This is the match page
    a(href='#/menu') menu
    br
    a(href='#/swipe') swipe
