ion-view(title='Matches')
  ion-header-bar(align-title='left').bar-stable
    h1.title: a(href='#/menu') FriendSwipe
    .buttons
      a.logo(href='#/swipe'): img(src='assets/logo_background.png')
  ion-content(ng-controller='MatchCtrl').padding
    ion-list
      ion-item(ng-repeat='match in matches') 
        p {{match.name}}
