ion-view(title='Swipe')
  ion-header-bar(align-title='left').bar-stable
    h1.title FriendSwipe
    .buttons
      a.button.ion-arrow-swap(href='#/match')
  ion-content(ng-controller='SwipeCtrl').padding
    h1 This is the swipe page
    a(href='#/menu') Menu
    br
    a(href='#/match') Match
