ion-view(title='Swipe')
  ion-header-bar(align-title='left').bar-stable
    h1.title: a(href='#/menu') FriendSwipe
    .buttons
      a.button.ion-arrow-swap(href='#/match')
  ion-content(ng-controller='SwipeCtrl').padding
    .container
      .card.friend
        .item.item-divider Friends Name
          
        i.ion-person(style='font-size: 240px')
    
